@import 'src/assets/styles/variables.scss';

.error-box {
  margin-top: $spacing-M;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  opacity: 0.5;
  &__icon {
    margin: $spacing-M;
    display: flex;
    width: 100px;
    height: 100px;
    .icon-times {
      margin: 14px 0 0 18px;
      color: red;
      font-size: 30px;
    }
    .icon-search {
      position: absolute;
      color: black;
      font-size: 70px;
    }
  }
  &__text {
    display: flex;
    font-size: $font-size-M;
    font-weight: 700;
  }
}
