<div>
  <div *ngFor="let row of keyboardLayout" class="keyboard" fxLayout="collumn">
    <div *ngFor="let key of row" fxLayout="row" class="keyboard__row">
        <button 
            (click)="onKeySelect(key)"
            class="keyboard__key"
            [class.keyboard__key--available]="isAvailable(key)"
            mat-raised-button
            color="primary">
            {{key}}
        </button>
    </div>
  </div>
  <div fxLayout="row">
        <button 
            (click)="onKeySelect(' ')"
            class="keyboard__key keyboard__key--space"
            [class.keyboard__key--available]="isAvailable(' ')"
            mat-raised-button
            color="primary">
        </button> 
        <button 
            (click)="onBackspaceSelect()"
            mat-raised-button
            matTooltip="Backspace"
            color="warn">
            <mat-icon aria-hidden="false" aria-label="backspace">backspace</mat-icon>
        </button>
  </div>
</div>