@import 'src/assets/styles/variables.scss';

.keyboard {
    margin: $spacing-S 0;
    &:nth-child(n+2){
        margin-left: $spacing-M;
    }
    &:nth-child(n+3){
        margin-left: $spacing-L;
    } 
    &__row {
        margin-bottom: $spacing-S;
    }
    &__key {
        margin-right: $spacing-XM;
        opacity: .8;
        &--space {
            margin-left: $spacing-XXL;
            padding: 0 $spacing-XXL; 
        } 
        &--available {
            opacity: 1;
        }
    }
}

