.table-container {
    min-height: 100px;
    max-height: 600px;
    overflow: auto;
}
.data-table {
    width: 100%;
    .mat-sort-header-container {
        align-items: center;
    }
    tr:hover {
        background: #f6f6f6;
    }
}
