<div class="search-header"
  fxLayout="row">
  <div fxFlex="70">
    <mat-form-field class="search-header__input-wrapper">
      <input class="search-header__search-input"
        matInput
        readonly
        [ngModel]="queryString"
        maxlength="40">
    </mat-form-field>
  </div>
  <div fxFlex>
    <button 
      mat-raised-button
      [disabled]="!queryString"
      (click)="onClear()"
      class="search-header__clear-button"
      matTooltip="Clear"
      color="warn">
      X
    </button>
  </div>
</div>