$color-primary: #4450b1;

$header-height: 50px;

$spacing-XS: 5px;
$spacing-S: 10px;
$spacing-XM: 15px;
$spacing-M: 20px;
$spacing-L: 50px;

$font-size-S: 10px;
$font-size-XM: 15px;
$font-size-M: 20px;
$font-size-L: 30px;
